<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-app="myApp">
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script src="{{ asset("bundles/public/angular.min.js") }}"></script>
            <script src="{{ asset("bundles/public/app.js") }}"></script>
        {% endblock %}
    </body>
</html>
